/*
jqt style
*/


/* iPhone (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
/* Styles */
}

/* iPhone (landscape) ----------- */
@media only screen
and (min-width : 321px) {
/* Styles */
}

/* iPhone (portrait) ----------- */
@media only screen
and (max-width : 320px) {
	.appML_panel > *, body {
	    background: rgb(0,0,0) url(../../packaging/iPhone/apple-touch-startup-image-320x460.png);
	}
	.overlay_loading{
		position: fixed;
		width: 100%;
		height: 100%;
		background: rgb(0,0,0) url(../../packaging/iPhone/apple-touch-startup-image-320x460.png);
	}
}

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
	.appML_panel > *, body {
	    background: rgb(0,0,0) url(../../packaging/iPhone-retina/apple-touch-startup-image-320x460.png);
	}
	.overlay_loading{
		position: fixed;
		width: 100%;
		height: 100%;
		background: rgb(0,0,0) url(../../packaging/iPhone-retina/apple-touch-startup-image-320x460.png);
	}
}


/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
	.appML_panel > *, body {
	    background: rgb(0,0,0) url(../../packaging/iPad-landscape/apple-touch-startup-image-748x1024_flipped.png);
	}
	.overlay_loading{
		position: fixed;
		width: 100%;
		height: 100%;
		background: rgb(0,0,0) url(../../packaging/iPad-landscape/apple-touch-startup-image-748x1024_flipped.png);
	}
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
	.appML_panel > *, body {
	    background: rgb(0,0,0) url(../../packaging/iPad-portrait/apple-touch-startup-image-768x1004.png);
	}
	.overlay_loading{
		position: fixed;
		width: 100%;
		height: 100%;
		 background: rgb(0,0,0) url(../../packaging/iPad-portrait/apple-touch-startup-image-768x1004.png);
	}
}



/* iPads retina (landscape) ----------- */
@media only screen and (min-device-width : 1536px) and (max-device-width : 2048px) and (orientation : landscape) {
	.appML_panel > *, body {
	    background: rgb(0,0,0) url(../../packaging/iPad-retina-landscape/apple-touch-startup-image-1496x2048.png);
	}
	.overlay_loading{
		position: fixed;
		width: 100%;
		height: 100%;
		 background: rgb(0,0,0) url(../../packaging/iPad-retina-landscape/apple-touch-startup-image-1496x2048.png);
	}
}

/* iPads retina (portrait) ----------- */
@media only screen and (min-device-width : 1536px) and (max-device-width : 2048px) and (orientation : portrait) {
	.appML_panel > *, body {
	    background: rgb(0,0,0) url(../../packaging/iPad-retina-portrait/apple-touch-startup-image-1536x2008.png);
	}
	.overlay_loading{
		position: fixed;
		width: 100%;
		height: 100%;
		 background: rgb(0,0,0) url(../../packaging/iPad-retina-portrait/apple-touch-startup-image-1536x2008.png);
	}
}

.bodyApp{
	 background: rgb(0,0,0) url(img/pinstripes.png);
}


h1, h2 {
    font: bold 18px Helvetica;
    text-shadow: rgba(255,255,255,.2) 0 1px 1px;
    color: #000;
    margin: 10px 20px 5px;
}

/* @group Toolbar */

#appML_content_wrapper{
	border:none
}


h1, h2 {
    font: bold 18px Helvetica;
    text-shadow: rgba(255,255,255,.2) 0 1px 1px;
    color: #000;
    margin: 10px 20px 5px;
}

/* @group Toolbar */

.toolbar {
    -webkit-box-sizing: border-box;
    padding: 10px;
    height: 45px;
    position: relative;
}

#appML_navigation_bar {
    background: url(img/navBar.png);

}

#appML_toolbar {
	width:100%;
	height:48px;
	background: #778082; /* Old browsers */
	background: -moz-linear-gradient(top, #778082 0%, #444946 50%, #0a0e0a 51%, #0a0809 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#778082), color-stop(50%,#444946), color-stop(51%,#0a0e0a), color-stop(100%,#0a0809)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #778082 0%,#444946 50%,#0a0e0a 51%,#0a0809 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #778082 0%,#444946 50%,#0a0e0a 51%,#0a0809 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #778082 0%,#444946 50%,#0a0e0a 51%,#0a0809 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#778082', endColorstr='#0a0809',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, #778082 0%,#444946 50%,#0a0e0a 51%,#0a0809 100%); /* W3C */
	padding:0;
}

.filterBar{
	background: rgb(0,0,0); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(0,0,0,1) 4%, rgba(27,30,28,1) 99%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(4%,rgba(0,0,0,1)), color-stop(99%,rgba(27,30,28,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(0,0,0,1) 4%,rgba(27,30,28,1) 99%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(0,0,0,1) 4%,rgba(27,30,28,1) 99%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, rgba(0,0,0,1) 4%,rgba(27,30,28,1) 99%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#1b1e1c',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, rgba(0,0,0,1) 4%,rgba(27,30,28,1) 99%); /* W3C */
	border-bottom: solid 1px #5D5C5C;
}

.black-translucent .toolbar {
	margin-top: 20px;
}

.clearDivBg{
	height:40px; background-image:url(img/pinstripes.png)
}

.clearDiv{
	height:40px;
}

.toolbar > h1 {
    position: absolute;
    overflow: hidden;
    left: 50%;
    top: 10px;
    line-height: 1em;
    margin: 1px 0 0 -75px;
    height: 40px;
    font-size: 20px;
    width: 150px;
    font-weight: bold;
    text-shadow: rgba(0,0,0,1) 0 -1px 1px;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #fff;
}

body.landscape .toolbar > h1 {
    margin-left: -125px;
    width: 250px;
}

#appML_left {
 background-image:url(img/sideBarPattern.jpg);
 border-right: solid 1px #828080;

}

.appML_sidebar_button{
	padding:8px;
	width:inherit;
	border-bottom:solid 1px #444; 
	overflow:auto;
	background: -moz-linear-gradient(top, #7A7A7A 0%, #5B5B5B 100%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7A7A7A), color-stop(100%,#5B5B5B)); /* webkit */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7A7A7A', endColorstr='#5B5B5B',GradientType=0 ); /* ie */
}

.appML_sidebar_background_icon{
	float:left;
	background-image:url(img/neutra.png);
	width:44px;
	height:44px
}


.button, .back, .cancel, .add {
    position: absolute;
    overflow: hidden;
    top: -3px;
    right: 6px;
    margin: 0;
    border-width: 0 5px;
    padding: 0 3px;
    width: auto;
    height: 30px;
    line-height: 30px;
    font-family: inherit;
    font-size: 12px;
    font-weight: bold;
    color: #fff;
    text-shadow: rgba(0, 0, 0, 0.5) 0px -1px 0;
    text-overflow: ellipsis;
    text-decoration: none;
    white-space: nowrap;
    background: none;
    -webkit-border-image: url(img/button.png) 0 5 0 5;
}

.toolButton{
    position: absolute;
    overflow: hidden;
    top: -3px;
    right: 6px;
    margin: 0;
    border-width: 0 5px;
    padding: 0 3px;
    width: auto;
    height: 30px;
    line-height: 30px;
    font-family: inherit;
    font-size: 12px;
    font-weight: bold;
    color: #fff;
    text-shadow: rgba(0, 0, 0, 0.5) 0px -1px 0;
    text-overflow: ellipsis;
    text-decoration: none;
    white-space: nowrap;
    background: none;
    -webkit-border-image: url(img/button.png) 0 5 0 5;
}


.back{display:none}



.back {
    left: 6px;
    right: auto;
    padding: 0;
    max-width: 55px;
    border-width: 0 8px 0 14px;
    -webkit-border-image: url(img/back_button.png) 0 8 0 14;
}

.leftButton, .cancel {
    left: 6px;
    right: auto;
}

.add {
    font-size: 24px;
    line-height: 24px;
    font-weight: bold;
}



/* @end */

/* @group Lists */

h1 + ul, h2 + ul, h3 + ul, h4 + ul, h5 + ul, h6 + ul {
    margin-top: 0;
}

ul {
    color: #aaa;
    border: 1px solid #989899;
    font: bold 13px Helvetica;
	padding: 0;
    -webkit-border-radius: 8px;
	margin:5px
}

ul li {
    color: #666;
    border-top: 1px solid #191919;
    list-style-type: none;
    padding: 10px 10px 10px 10px;
    overflow: hidden;
}

ul .box_title { 
	color:#fff; 
	font-weight: bold;
	text-shadow: rgba(0, 0, 0, 0.4) 0px -1px 0;
	border-bottom:solid 3px #e18d08;
	font-size:22px;
	background: #f9d781; /* Old browsers */
	background: -moz-linear-gradient(top, #f9d781 0%, #f9c339 50%, #f8b500 51%, #f9c131 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f9d781), color-stop(50%,#f9c339), color-stop(51%,#f8b500), color-stop(100%,#f9c131)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #f9d781 0%,#f9c339 50%,#f8b500 51%,#f9c131 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #f9d781 0%,#f9c339 50%,#f8b500 51%,#f9c131 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #f9d781 0%,#f9c339 50%,#f8b500 51%,#f9c131 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F9D781', endColorstr='#F9C131',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, #f9d781 0%,#f9c339 50%,#f8b500 51%,#f9c131 100%); /* W3C */
}

/* when you have a first LI item on any list */

li:first-child, li:first-child a {
    border-top: 0;
    -webkit-border-top-left-radius: 8px;
    -webkit-border-top-right-radius: 8px;
}

li:last-child, li:last-child a {
    -webkit-border-bottom-left-radius: 8px;
    -webkit-border-bottom-right-radius: 8px;
	
}

/* universal arrows */

ul li.arrow {
    background-image: url(img/chevron.png),  -webkit-gradient(linear, left top, left bottom, color-stop(53%,#424242), color-stop(100%,#2b2b2b)); /* Chrome,Safari4+ */
    background-position: right center;
    background-repeat: no-repeat;
}



ul li.forward {
    background-image: url(img/chevron_circle.png), -webkit-gradient(linear, 0% 0%, 0% 100%, from(#4c4d4e), to(#404142));
    background-position: right center;
    background-repeat: no-repeat;
}

/* universal links on list */

ul li a, li.img a + a {
    color: #fff;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: block;
    padding: 12px 10px 12px 10px;
    margin: -10px;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    text-shadow: rgba(0,0,0,.2) 0 1px 1px;
}

ul li a.active,ul li a.button {
    background-color: #848486;
    color: #fff;
}



ul li.img a + a {
    margin: -10px 10px -20px -5px;
    font-size: 17px;
    font-weight: bold;
}

ul li.img a + a + a {
    font-size: 14px;
    font-weight: normal;
    margin-left: -10px;
    margin-bottom: -10px;
    margin-top: 0;
}

ul li.img a + small + a {
    margin-left: -5px;
}

ul li.img a + small + a + a {
    margin-left: -10px;
    margin-top: -20px;
    margin-bottom: -10px;
    font-size: 14px;
    font-weight: normal;
}

ul li.img a + small + a + a + a {
    margin-left: 0px !important;
    margin-bottom: 0;
}

ul li a + a {
    color: #000;
    font: 14px Helvetica;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: block;
    margin: 0;
    padding: 0;
}

ul li a + a + a, ul li.img a + a + a + a, ul li.img a + small + a + a + a {
    color: #666;
    font: 13px Helvetica;
    margin: 0;
    text-overflow: ellipsis;
    white-space: nowrap; 
    overflow: hidden;
    display: block;
    padding: 0;
}
/*
@end */
/* @group Forms */

.form li {
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#4c4d4e), to(#404142));
    background-position: right center;
    background-repeat: no-repeat;
}

.form .box_title{
	color:#fff; 
	font-weight: bold;
	text-shadow: rgba(0, 0, 0, 0.4) 0px -1px 0;
	border-bottom:solid 3px #e18d08;
	font-size:22px;
	background: #f9d781; /* Old browsers */
	background: -moz-linear-gradient(top, #f9d781 0%, #f9c339 50%, #f8b500 51%, #f9c131 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f9d781), color-stop(50%,#f9c339), color-stop(51%,#f8b500), color-stop(100%,#f9c131)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #f9d781 0%,#f9c339 50%,#f8b500 51%,#f9c131 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #f9d781 0%,#f9c339 50%,#f8b500 51%,#f9c131 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #f9d781 0%,#f9c339 50%,#f8b500 51%,#f9c131 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F9D781', endColorstr='#F9C131',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, #f9d781 0%,#f9c339 50%,#f8b500 51%,#f9c131 100%); /* W3C */
}


ul li input[type="text"], ul li input[type="password"], ul li input[type="email"], ul li textarea, ul li div div select{
	border:solid 1px #3d3d3d;
	color: #fff;
	width: 100%;
	display: inline-block;
	margin: 0px;
    -webkit-appearance: textarea;
	background: -moz-linear-gradient(top, #7a7a7a 0%, #6b6b6b 100%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7a7a7a), color-stop(100%,#6b6b6b)); /* webkit */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7a7a7a', endColorstr='#6b6b6b',GradientType=0 ); /* ie */
}


ul li input[type="text"], ul li input[type="password"], ul li input[type="email"]{
	float:left;
	border-radius:7px;
    font: normal 17px Helvetica;
    padding: 0;
	height:25px;
}


ul li textarea {
    font: normal 17px Helvetica;
    padding: 0;
    display: inline-block;
    height: 120px;
    padding: 5px;
    text-indent: -2px;
	width:99%;
}

ul li div div select{
	border-radius:15px;
	font: normal 21px Helvetica;
	padding:4px 0px 3px 30px;
}

ul li input[type="checkbox"], ul li input[type="radio"] {
    margin: 0;
    color: rgb(50,79,133);
    padding: 10px 10px;
}

ul li input[type="checkbox"]:after, ul li input[type="radio"]:after {
    content: attr(data-title);
    font: 17px Helvetica;
    display: block;
    width: 246px;
    margin: -12px 0 0 17px;
}


/* @end */

/* @group Edge to edge */

ul.edgetoedge {
    border-width: 1px 0;
    margin: 0;
    padding: 0;
}
ul.edgetoedge li {
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#1e1f21), to(#272729));
    border-bottom: 2px solid #000;
    border-top: 1px solid #4a4b4d;
	border-left:1px solid #666666;
	border-right:1px solid #666666;
    font-size: 20px;
    margin-bottom: -1px;
}
ul.edgetoedge li.sep {
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(0,0,0,0)), to(rgba(0,0,0,.5)));
	background-color:#666;
    border-bottom: 1px solid #111113;
    border-top: 1px solid #666;
    color: #f52a0d;
    font-size: 16px;
    margin: 1px 0 0 0;
    padding: 2px 10px;
    text-shadow: #5d5c5c 0 1px 0;
	text-align:center;
}
ul.edgetoedge li em {
    font-weight: normal;
    font-style: normal;
}
/* @end */

/* @group Mini Label */

ul li small {
    color: #64c114;
    font: 17px Helvetica;
    text-align: right;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: block;
    width: 23%;
    float: right;
   padding: 3px 0px;
}

ul li.arrow small {
    padding: 0 15px;
}

ul li small.counter {
    font-size: 17px;
    line-height: 13px;
    font-weight: bold;
    background: rgba(0,0,0,.15);
    color: #fff;
    -webkit-border-radius: 11px;
    padding: 4px 10px 5px 10px;
    display: inline !important;
    width: auto;
    margin-top: -22px;
}

ul li.arrow small.counter {
    margin-right: 15px;
}
ul.edgetoedge li em {
    font-weight: normal;
    font-style: normal;
}

/* @group Plastic */
#plastic {
    background: #17181a;
}
ul.plastic {
	-webkit-border-radius: 0px;
    background: #17181a;
    color: #aaa;
    font:16px Helvetica;
    margin: 0;
    padding: 0;
    border-width: 0 0 1px 0;
    margin: -10px -8px 0px -8px
}
ul.plastic li {
    border-width: 1px 0;
    border-style: solid;
    border-top-color: #222;
    border-bottom-color: #000;
    color: #666;
    list-style-type: none;
    overflow: hidden;
    padding: 10px 10px 10px 10px;
}

ul.plastic li div:first-child{
	width: 130px;
	font-size:14px;
	float: left;
}

ul.plastic li div:nth-child(2){
	font-weight: bold;
	float:left;
	color: #fff
}

ul.plastic li a.active.loading {
    background-image: url(img/loading.gif);
    background-position: 95% center;
    background-repeat: no-repeat;
}
ul.plastic li small {
    color: #888;
    font-size: 13px;
    font-weight: bold;
    line-height: 24px;
    text-transform: uppercase;
}
ul.plastic li:nth-child(odd) {
    background-color: #1c1c1f;
}
ul.plastic li.arrow {
    background-image: url(img/chevron.png);
    background-position: right center;
    background-repeat: no-repeat;
}
ul.plastic li.arrow a.active {
    background-image: url(img/chevron.png);
    background-position: right center;
    background-repeat: no-repeat;
}
ul.plastic li.forward {
    background-image: url(img/chevron_circle.png);
    background-position: right center;
    background-repeat: no-repeat;
}
ul.plastic li.forward a.active {
    background-image: url(img/chevron_circle.png);
    background-position: right center;
    background-repeat: no-repeat;
}

/* @end */

/* @group Individual */
ul.individual {
    border: 0;
    background: none;
    clear: both;
    overflow: hidden;
    padding-bottom: 3px;
    -webkit-box-shadow: none;
}

ul.individual li {
    background: #4c4d4e;
    border: 1px solid #333;
    font-size: 14px;
    text-align: center;
    -webkit-border-radius: 8px;
    -webkit-box-sizing: border-box;
    width: 42%;
    float: left;
    display: block;
    padding: 11px 10px 14px 10px;
    -webkit-box-shadow: rgba(0,0,0,.2) 1px 1px 3px;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#4c4d4e), to(#404142));
	margin:0px 7px 0px 7px
}
ul.individual li + li {
    float: right;
}

ul.individual li a {
    color: #fff;
    line-height: 16px;
    margin: -11px -10px -14px -10px;
    padding: 11px 10px 14px 10px;
    -webkit-border-radius: 8px;
}

/* @end */


/* @group Info */
.info {
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ccc), to(#aaa), color-stop(.6,#CCCCCC));
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    text-shadow: rgba(255,255,255,.8) 0 1px 0;
    color: #444;
    padding: 15px 5px;
    border-top: 1px solid rgba(255,255,255,.2);
    font-weight: bold;
}
/* @end */


/* @group Metal */
ul.metal {
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    margin: 0;
}
ul.metal li {
    background-image: none;
    border-top: 1px solid #222;
    border-bottom: 1px solid #333;
    font-size: 13px;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(53%,#424242), color-stop(100%,#2b2b2b)); /* Chrome,Safari4+ */
   color:#fff
}
ul.metal li a {
    line-height: 26px;
    margin: 0;
    text-shadow: #fff 0 1px 0;
    padding: 13px 0;
}
ul.metal li a em {
    display: block;
    font-size: 14px;
    font-style: normal;
    color: #444;
    width: 50%;
    line-height: 14px;
}
ul.metal li a.active {
    color: rgb(0,0,0);
}
ul.metal li small {
    float: right;
    position: relative;
    margin-top: 10px;
    font-weight: bold;
}
ul.metal li.arrow {
    background-image: url(img/chevron.png);
    background-position: right center;
    background-repeat: no-repeat;
    background-image: url(img/chevron.png), -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(238,238,238,1)), to(rgba(156,158,160,1)));
    background-repeat: no-repeat;
    background-position: right center;
}
ul.metal li.arrow a small {
    padding-right: 15px;
    line-height: 17px;
}
/* @end */









/* skilltest */

.skillTestsStatusPanel.row{
    background: rgb(56,60,63); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(56,60,63,1) 0%, rgba(38,38,38,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(56,60,63,1)), color-stop(100%,rgba(38,38,38,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(56,60,63,1) 0%,rgba(38,38,38,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(56,60,63,1) 0%,rgba(38,38,38,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(56,60,63,1) 0%,rgba(38,38,38,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(56,60,63,1) 0%,rgba(38,38,38,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#383c3f', endColorstr='#262626',GradientType=0 ); /* IE6-9 */
    
    height:65px;
    color:#fff;
    font-family: Helvetica;
    font-size:14px;
    font-weight:bold;
    display:table;
    width:100%;
    border-bottom:solid 1px #aaa;
}


.skillTestsStatusPanel.row > div{
    display:table-row;
}

.skillTestsStatusPanel.row > div > div{
    display:table-cell;
    vertical-align:middle;
    padding:0px 5px;
}

.skillTestsStatusPanel.row > div > div:first-child{
	width:60%
}

.skillTestsStatusPanel.row > div > div:last-child{
	width:20%
}


.skillTestsStatusPanel.row.header{
	font-size:9px;
	color:#AAAAAA;
	display:table-header-group;
	font-weight:normal;

}



.skillTestsStatusPanel.row.header >div{
	line-height: 22px;
}










/*  questions*/
.single_question{
	display:none;
}


.question .box_title{
	font-size:13px;
	color:#222;
	text-shadow: none;
	text-align:left;
}

.question .box_title .question_number{
	font-size: 16px;
	color: #222;
	margin: 0px 10px 0px 0px;
	text-shadow: none;
	background-color: #fff;
	padding: 4px 4px 4px 3px;
	border-radius: 14px;
}

.question_li{
	padding:6px;
}

.question .question_li_table{
	display:table;
	width:100%;
}

.question .question_li_row{
	display:table-row
}


.question .question_li_cell{
	display:table-cell;
	vertical-align: middle;
}

.question .toggle_text{
	color:#fff;
	font-size: 11px;
	padding:0px 10px 0px 0px
}

.question_li.selected .toggle_text{
	color:#f8b606;
}

.question .checker{
	box-shadow: inset 0px 0px 9px rgba(0,0,0,0.4);
	width: 25px;
	height: 25px;
	border-radius: 18px;
	background-repeat: no-repeat;
	background-position: 7px 8px;
}

.question_li.selected .checker{
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAALCAYAAABLcGxfAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAY5JREFUeNpkkUFPE0EUx3+7M6WsLW2g6MUvQeBQrxI5AK0JCfVi48mD5WQ4ET4B4Ub4Bt7gwqFmgcCRhGiiNT0Q7YFqIlRWSpFmt4UtW2bsGpvwMpNJZn7v/d//jbH8kv9hqBWAKSDo9q6ubyCV4Jkf0HA9PpmGwb3ohnBbwSMJni8V2FnMsysFY6Z+CIIQ6vZOXURXHn5A9m2eDQYQsRFSCzn2Tb8DcYunVoR05zaEfRgaJFOYZyMSYdBrQKsJ5W+U5JCq8irDlqrovnvPbOuGg4TFTD7DprCwGlegLLH/ge2PR8yL1Td8TcQxpST6aJjsWR1zKs16Mkas6Sq1NuwdYpcq5KJRPFn5wWffZ0L7UKYeTo6z0lWt/TzT5uBLBbvq8CI6gKfnI8vHTF95FB+PktZJ9Lz/9VKtYdca5CJSweE0pRD8/v6LjNummEryRN/rP3AusC9dBQu8f2PWYWpZlXRe/0P21OFQQZw42M02OaHhvr/RWxLKq32uVOZaPq+Vwppp9GCjr0WdcCfAAGvsnfPNbJlaAAAAAElFTkSuQmCC);
}

.question_li.unselected .checker{
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAALCAYAAACksgdhAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAaFJREFUeNpMkrtKA2EQhf+95LZJSCQpBCEIJk1CNKQJ1iKCjYU2PoAoosEXEC+FlYilIIqFIqiNheksxUJ8AUGMREUIwSb3ZDd+syC4cJiZ85+Z/8zuasViUVmWpQaDwQJxsdlsXrZarRtd14VTXq93JhwOrzQajVvDMM7q9boylVKWbduz8Xh8JxQKjdGUrVarPREFAoHpWCy2T1OKPFer1Qz016amaflIJHLo8/lGut2u8ng8qWg0ukU95/f70yADr3HjKLqDdrv9Lk0VppaIS6ZpupawlgsGgxmmmp1ORxPOcRyFtRJcWexVsLTDtDI7LdOYYIAG7wXuEOx/oznu9XqncokO6ZB89vv9c8gvoMQmN7gRXsHVwAW6MnpbZ5hOkWSHdfLEX9P/ZoTD7FbEdhqNIfaSYI+DeRFhRXaiHHThPTKUJ4btVfIU2JCmOIIJvo27rKyD6AH+EeTBlNwqN/Jms6I3aXhm+hoNu+QZml442CbeU0/CW2Cc+g3dJgOfjEKhYHP4SvGD2E88QnAnb474ISAd4m84IV5R938FGACdLuyLjqsEewAAAABJRU5ErkJggg==);
	background-position: 6px 7px;
}





.question .toggle_container{
	width:70px;
	alignment-adjust:right;
}


/* TOGGLE */


.toggle{
	background: #f6f8f9;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y2ZjhmOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2U1ZWJlZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUxJSIgc3RvcC1jb2xvcj0iI2Q3ZGVlMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmNWY3ZjkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, #f6f8f9 0%, #e5ebee 50%, #d7dee3 51%, #f5f7f9 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f6f8f9), color-stop(50%,#e5ebee), color-stop(51%,#d7dee3), color-stop(100%,#f5f7f9));
	background: -webkit-linear-gradient(top, #f6f8f9 0%,#e5ebee 50%,#d7dee3 51%,#f5f7f9 100%);
	background: -o-linear-gradient(top, #f6f8f9 0%,#e5ebee 50%,#d7dee3 51%,#f5f7f9 100%);
	background: -ms-linear-gradient(top, #f6f8f9 0%,#e5ebee 50%,#d7dee3 51%,#f5f7f9 100%);
	background: linear-gradient(to bottom, #f6f8f9 0%,#e5ebee 50%,#d7dee3 51%,#f5f7f9 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f8f9', endColorstr='#f5f7f9',GradientType=0 );
		
	 -khtml-border-radius: 30px;
	   -moz-border-radius: 30px;
	    -ms-border-radius: 30px;
	     -o-border-radius: 30px;
	-webkit-border-radius: 30px;
	        border-radius: 30px;
	
	-khtml-box-shadow: 0 1px 0 #fff, inset 0 0 2px #3f4c6b, inset 0 1px 0 #d7dee3, inset 0 1px 5px #d7dee3;
	   -moz-box-shadow: 0 1px 0 #fff, inset 0 0 2px #3f4c6b, inset 0 1px 0 #d7dee3, inset 0 1px 5px #d7dee3;
	    -ms-box-shadow: 0 1px 0 #fff, inset 0 0 2px #3f4c6b, inset 0 1px 0 #d7dee3, inset 0 1px 5px #d7dee3;
	     -o-box-shadow: 0 1px 0 #fff, inset 0 0 2px #3f4c6b, inset 0 1px 0 #d7dee3, inset 0 1px 5px #d7dee3;
	-webkit-box-shadow: 0 1px 0 #fff, inset 0 0 2px #d7dee3, inset 0 1px 0 #d7dee3, inset 0 1px 5px #d7dee3;
	        box-shadow: 0 1px 0 #fff, inset 0 0 2px #d7dee3, inset 0 1px 0 #d7dee3, inset 0 1px 5px #d7dee3;
	
	display: block; /* ...So that we can set a height and width */
	float: left; /* ...So that it doesn't take up the full width of the page */
	height: 30px; /* You can change this later if you want */
	position: relative; /* Required to allow the switch to move around */
	width: 70px; /* This can be changed later as well */

}


.true_or_false{
	height: 18px; 
	position: absolute;
	top:6px;
	left:7px; 
	width: 58px; 
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADoAAAASCAYAAAAKRM1zAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAnpJREFUeNrkl12ITVEUx51pGF+JhgcPRhpRZNREeFA8uEWNfEQ8zNQQmlAzXkhhZIq3q0iN8pXJKDLI9wMPmpmkJBIpCnmR1Jg0V+H6rVqnlt3e99ZM59wyq36tzj57n33+Z+2z19pRPp8fMRysfIjjZ8Bi6EzqBY9ns1twVVABL5tbWi4V6T8bNxMG6Pswbi8b5PwRTIXrsCnhYPTBIdgHHQipKyByGa4XbsFNe69skCKr4S7UQH/CQj84c3ciaIVH5CpcF0zSpj9DFVqjX2y+74EJ2Cv9qLGNk5WEsIwRmVGRE02/fyIa6WY0B97CryKTLoBrMM20XYSGJJUiZCzuMthl+wMyus/chvHmXjs08Y/mXaE/YYc+LBeYbyGcg7lOu4zZnPSuidjRuBsqLrYBXZUVpu0sAre64+OlO0pFrIGRnnnkJ7/gESn2Po30wMtLANbqioptjCOy3SfSRjSnA+QLyXZ+BX5rn9VwQrd4147BUfieZk4kuvedyIp1IXJdaEwc0Zz5QuehXq/rAiJlqbcqaYtcipvn2z+4tySYKjSi/c7P/BWewnTdqNy8th9OpV3dqJB7MCHQ5RssJ7IvQkI/awEQFZnrC+zVqKctshYnS3ayac7qdb1p+yTLGrFvfEt3g5OYQ4l7Z4lELtJIWpFtiNkDDc47Seq7w5hZPqE9IJXFs8Bcr2E7XC2ByCrNk1NM80EEHjA7ciPutFODd4QqIxGzEbqduZ5rJB+U6OAhEao014cRdsSTfqQOOGmaqguVgO9gvSm5RPQ2eFTCE9ZHPR1JytuFoNYCuXa3Fv/S94xvM3JNCoOV8AQe/w/n0Wi4HLz/CjAA1ja5uZ79T3kAAAAASUVORK5CYII=);
}

.toggle input{
	height: 30px;
	left: 0;
	margin: 0; /* Reset the margins and padding */
	opacity: 0; /* Invisible! */
	padding: 0;
	position: absolute;
	top: 0;
	width: 70px;
	z-index: 2; /* We want the input to be over the span.switch, which we'll give a z-index of 1 */
		/*IE*/
		zoom: 1;
		filter: alpha(opacity=0);
}




.toggleSwitch{
	background: #ffffff;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPHJhZGlhbEdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNzUlIj4KICAgIDxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSI1MCUiIHN0b3AtY29sb3I9IiNmZWZlZmUiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSI1MSUiIHN0b3AtY29sb3I9IiNmZGZkZmQiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZmZmZmZmIiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L3JhZGlhbEdyYWRpZW50PgogIDxyZWN0IHg9Ii01MCIgeT0iLTUwIiB3aWR0aD0iMTAxIiBoZWlnaHQ9IjEwMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-radial-gradient(center, ellipse cover, #ffffff 0%, #fefefe 50%, #fdfdfd 51%, #ffffff 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#ffffff), color-stop(50%,#fefefe), color-stop(51%,#fdfdfd), color-stop(100%,#ffffff));
	background: -webkit-radial-gradient(center, ellipse cover, #ffffff 0%,#fefefe 50%,#fdfdfd 51%,#ffffff 100%);
	background: -o-radial-gradient(center, ellipse cover, #ffffff 0%,#fefefe 50%,#fdfdfd 51%,#ffffff 100%);
	background: -ms-radial-gradient(center, ellipse cover, #ffffff 0%,#fefefe 50%,#fdfdfd 51%,#ffffff 100%);
	background: radial-gradient(ellipse at center, #ffffff 0%,#fefefe 50%,#fdfdfd 51%,#ffffff 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=1 );
	/* gradient generated by http://www.colorzilla.com/gradient-editor/ */

	 -khtml-border-radius: 30px;
	   -moz-border-radius: 30px;
	    -ms-border-radius: 30px;
	     -o-border-radius: 30px;
	-webkit-border-radius: 30px;
	        border-radius: 30px;
	
	
	 -khtml-box-shadow: 0 1px 1px #65727b, 0 0 1px #b6bdc2;
	   -moz-box-shadow: 0 1px 1px #65727b, 0 0 1px #b6bdc2;
	    -ms-box-shadow: 0 1px 1px #65727b, 0 0 1px #b6bdc2;
	     -o-box-shadow: 0 1px 1px #65727b, 0 0 1px #b6bdc2;
	-webkit-box-shadow: 0 1px 1px #65727b, 0 0 1px #b6bdc2;
	        box-shadow: 0 1px 1px #65727b, 0 0 1px #b6bdc2;
	
	display: block;
	float: left;
	height: 30px;
	left: 0px; /* This is the starting point. When adding a border radius, a small bit of the background is shown if we use left: 0;, so -1px is best.*/
	position: relative;
	top: 0; /* ...To keep it centered vertically */
	
	 -khtml-transition: left .2s ease;
	   -moz-transition: left .2s ease;
	    -ms-transition: left .2s ease;
	     -o-transition: left .2s ease;
	-webkit-transition: left .2s ease;
	        transition: left .2s ease;
	
	width: 30px;
	z-index: 1; /* Remember, it must be below the invisible inputs */
}

.toggle.checked .toggleSwitch{
	left:41px;
}

.toggle.checked{
	background: #f9d781; /* Old browsers */
	background: -moz-linear-gradient(top, #f9d781 0%, #f9c339 50%, #f8b500 51%, #f9c131 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f9d781), color-stop(50%,#f9c339), color-stop(51%,#f8b500), color-stop(100%,#f9c131)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #f9d781 0%,#f9c339 50%,#f8b500 51%,#f9c131 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #f9d781 0%,#f9c339 50%,#f8b500 51%,#f9c131 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #f9d781 0%,#f9c339 50%,#f8b500 51%,#f9c131 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F9D781', endColorstr='#F9C131',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, #f9d781 0%,#f9c339 50%,#f8b500 51%,#f9c131 100%); /* W3C */
	
	-khtml-box-shadow: none;
	   -moz-box-shadow: none;
	    -ms-box-shadow: none;
	     -o-box-shadow: none;;
	-webkit-box-shadow: none;
	        box-shadow: none;
}





/* timer */

.timer{
	padding:5px
}

.timer_bg{
	width:100%;
	margin:0px auto;
	padding:1px 0px;
	border-radius:8px;
	text-align:center;
	font-size: 12px;
	font-weight: bold;
	background: rgb(226,226,226); /* Old browsers */
	border:solid 1px #aaa;
	text-shadow:1px 1px 2px #fff;
	box-shadow: inset 0px 0px 3px rgba(0,0,0,0.3);
	
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(252,234,187,1)), color-stop(50%,rgba(252,205,77,1)), color-stop(51%,rgba(248,181,0,1)), color-stop(100%,rgba(251,223,147,1))) 0px 0px no-repeat,
	 			-webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(246,248,249,1)), color-stop(50%,rgba(229,235,238,1)), color-stop(51%,rgba(215,222,227,1)), color-stop(100%,rgba(245,247,249,1))) 0 0 no-repeat
}




/* lockbar */

.navBarLock{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 44px;
}

.toolBarLock{
	position: absolute;
	left: 0px;
	width: 100%;
	height: 49px;
}

@-webkit-keyframes GoLayer1{
  0% {opacity:1;}
  50% {opacity:0;}
  100% {opacity:0;}
}
@-webkit-keyframes GoLayer2{
  0% {opacity:0;}
  50% {opacity:1;}
  100% {opacity:0;}
}
@-webkit-keyframes GoLayer3{
  0% {opacity:0;}
  50% {opacity:0;}
  100% {opacity:1;}
}

.layer1{
background: rgb(51,51,51); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(51,51,51,1) 0%, rgba(125,126,125,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(51,51,51,1)), color-stop(100%,rgba(125,126,125,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(51,51,51,1) 0%,rgba(125,126,125,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(51,51,51,1) 0%,rgba(125,126,125,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(51,51,51,1) 0%,rgba(125,126,125,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(51,51,51,1) 0%,rgba(125,126,125,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333333', endColorstr='#7d7e7d',GradientType=0 ); /* IE6-9 */






    -webkit-animation: GoLayer1 0s infinite;
}

.layer2{
background: rgb(25,25,25); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(25,25,25,1) 0%, rgba(71,71,71,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(25,25,25,1)), color-stop(100%,rgba(71,71,71,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(25,25,25,1) 0%,rgba(71,71,71,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(25,25,25,1) 0%,rgba(71,71,71,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(25,25,25,1) 0%,rgba(71,71,71,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(25,25,25,1) 0%,rgba(71,71,71,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#191919', endColorstr='#474747',GradientType=0 ); /* IE6-9 */








    -webkit-animation: GoLayer2 4s infinite;

}
.layer3{
background: rgb(51,51,51); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(51,51,51,1) 0%, rgba(125,126,125,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(51,51,51,1)), color-stop(100%,rgba(125,126,125,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(51,51,51,1) 0%,rgba(125,126,125,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(51,51,51,1) 0%,rgba(125,126,125,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(51,51,51,1) 0%,rgba(125,126,125,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(51,51,51,1) 0%,rgba(125,126,125,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333333', endColorstr='#7d7e7d',GradientType=0 ); /* IE6-9 */





    -webkit-animation: GoLayer3 4s infinite;
}
.layer {
    position:absolute;
    width:100%;
    height:100%;
}

.lockBG_text{
	width: 100%;
	margin: 0px auto;
	color: #f3f3f3;
	text-decoration: none;
	font-weight: bold;
	text-shadow: 0 -1px 1px #254F7A;
	font-size:10px;
	position:absolute;
	padding-top: 15px;
	text-align: center;
}
